@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


.photo {
  display: block;
  text-align: center;
}

.logo {
  grid-area: l;
  height: 80%;
  width: 1fr;
}

.special {
  text-decoration: none;
  text-align: center;
  color: black;
  height: 80%;
  width: 100%;
  font-size: 100%;
}

.picture {
  height: 90%;
  width: 90%;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .menu {
    flex-direction: column;
  }

  .container {
    grid-template-rows: unset;
    grid-template-areas:
      "h h h h h h h h h h h h"
      "m m m m m m m m m m m m"
      "c c c c c c c c c c c c"
      "f f f f f f f f f f f f";
  }

  .title {
    font-size: 110%;
    text-align: center;
    margin: 0;
  }

  .input {
    text-align: center;
    font-size: 10px;
    width: 80%;
  }

}

  .authorization {
    text-align: center;
    font-size: 30px;
  }

  .button {
    text-decoration: none;
    text-align: left;
    color: black;
    font-size: 28px;
    background: #F2784B;
    box-shadow: 2px 2px 6px 1px grey;
    border: medium;
    border-radius: 3px;
    padding: 8px;
    width: 80%;
    height: auto;
    margin: 0 24px 18px;
    text-align: center;
  }

  .special {
    text-decoration: none;
    text-align: left;
    color: black;
    font-size: 24px;
  }