@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .menu {
    flex-direction: column;
  }

  .container {
    grid-template-rows: unset;
    grid-template-areas:
      "h h h h h h h h h h h h"
      "m m m m m m m m m m m m"
      "c c c c c c c c c c c c"
      "f f f f f f f f f f f f";
  }

  .title {
    font-size: 110%;
    text-align: center;
    margin: 0;
  }
}

.container {
  font-family: "Roboto";
  margin: 0;
  font-style: normal;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto 1fr 50px;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "m m m m m m m m m m m m"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f";
}

.header {
  grid-area: h;
  border-width: 1px;
  background-color: #F39C12;
  box-shadow: 2px 2px 6px 1px grey;
  border: medium;
  padding: 8px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100%;
  grid-template-areas:
    "l t t t t t t t t t t t";
}

.account {
  grid-area: a;
  background: #F2784B;
  box-shadow: 2px 2px 6px 1px grey;
  border: medium;
  border-radius: 3px;
  padding: 8px;
  height: 80%;
  width: 3fr;
  margin: 0 18px 20px;
  text-align: center;
}

.account:hover {
  background: #D35400;
}

.menu {
  padding: 8px;
  display: flex;
  justify-content: center;
  background: #F9BF3B;
  grid-area: m;
  text-align: center;
}

.content {
  grid-area: c;
  background: #FDE3A7;
  height: 100%;
  padding: 16px;
}

.footer {
  grid-area: f;
  background-color: #F9BF3B;
  text-align: center;
  padding: 8px;
}

.title {
  grid-area: t;
  text-align: center;
  margin: 0;
  text-decoration: none;
}

.photo {
  display: block;
  text-align: center;
}

.a {
  border: none;
  text-decoration: none;
  display: flex;
  flex-grow: 1;
  text-align: center;
  color: black;
  font-size: 28px;
  padding: 8px;
  background: #F2784B;
}

.a:hover {
  background: #D35400;
}

.active_a{
  border: none;
  text-decoration: none;
  display: flex;
  flex-grow: 1;
  text-align: center;
  color: black;
  font-size: 28px;
  padding: 8px;
  background: #FFAA60;
}

.logo {
  grid-area: l;
  height: 80%;
  width: 1fr;
}

.special {
  text-decoration: none;
  text-align: center;
  color: black;
  height: 80%;
  width: 100%;
  font-size: 100%;
}


.input {
    box-shadow: 2px 2px 6px 1px grey;
    border: medium;
    border-radius: 12px;
    width: 30%;
    font-size: 30px;
    height: auto;
  }

.button {
  text-decoration: none;
  color: black;
  font-size: 28px;
  background: #B2582B;
  box-shadow: 2px 2px 6px 1px grey;
  border: medium;
  border-radius: 3px;
  width: 30%;
  height: auto;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}


#table_lab3 {
  width: 100%;
} 

#directory_lab3 {
  background-color: white;
}

#file_lab3 {
  background-color: grey; 
}

.green_text {
  color: green;
}

.blue_text {
  color: blue;
}

.red_text {
  color: red;
}